.admin-dashboard
  min-height: 100vh
  width: 100vw
  // TODO: Add background color to App.sass when that file is made available via master, so that the background color can have the same values across the app
  background: rgb(250, 250, 250)