.app-header
  width: 100vw
  background: rgba(255, 255, 255)
  box-shadow: 0 0 10px rgba(0, 0, 0, .05)

// TODO: Style the app header search and nav buttons so that they've got a transparent background and don't have selector styling

.app-header_nav-btn, .app-header_search-btn
  float: right