.pagination-row {
    height: 50px;
}
.cards-row {
    height: 500px;
}
.jumbotron {
    height: 400px;
    background-size: cover;
}
.divider{
    width:50px;
    height:auto;
    display:inline-block;
}
